

body {
    background-color: #e8e8e8;
    background-image:url("/vuejs-batch-24/Tugas-2-HTML-CSS/pexels-henry-&-co-1939485.jpg");
    background-repeat:no-repeat;
  }

.kartu {
        width: 800px;
        margin: 0 auto;
        margin-top: 70px;
        box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.03);
        transition: all .3s;
  } 

.foto {
        padding: 20px;
  }

tbody {
        font-size: 20px;
        font-weight: 300;
  }

tbody table{
    border: 0px; 
    width:100%;
    padding-left: 2px; 
    padding-right: 13px;
}

.biodata {
        margin-top: 30px;
  }

.testt{
    font-style: italic;
    vertical-align: top;
}

.tdstyle{
    color: rgb(118, 157, 29); 
    font-weight:bold;
}