<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <!-- <form> -->
            <ul>
                <input type="text" v-model="tambahUsers" @keyup.enter="tambahIsi" placeholder="Masukkan Nama" />
                <button @click="tambahIsi()"> Add</button>
                <li v-for="(user, index) in users" :key="index">
                    {{user.name}} 
                    <button> Edit </button>
                    ||
                    <button @click=hapusIsi(index) > Delete </button>
                </li>
            </ul>
        <!-- </form> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data : {
                tambahUsers: '',
                users : [
                    {
                        'name' : 'Muhammad Iqbal Mubarok',
                    },
                    {
                        'name' : 'Ruby Purwanti',
                    },
                    {
                        'name' : 'Faqih Muhammad',
                    },
                ],
            },
            methods: {
                tambahIsi() {
                    this.users.push({name:this.tambahUsers});
                },
                hapusIsi(index) {
                    var jawaban;
                    if(confirm("Anda yakin?")) {
                        this.users.splice(index, 1);   
                    }
                }
            },

        })


    </script>
</body>
</html>
