<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soal 2</title>
</head>

<body>

    <div id="app">

        <ul>
            
            <li v-for="(data) in listComment">
                <button @click="tambah"> + </button> <br>
                {{ data.comment }} || {{ data.waktu }} || score: {{ data.counter }} <br>
                <button @click="kurang"> - </button> <br>

                <br>
                <br>
            </li>

            <br><br>

            <div>
                <input type="text" v-model="addComment" v-on:keyup.enter="tambahIsi" placeholder="Masukkan Komentar" />
            </div>

        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                addComment: '',
                listComment: [
                    {comment:"ini komen pertama", waktu: '01-01-2021', counter:0},
                    {comment:"ini komen kedua", waktu: '02-02-2021', counter:6},
                    {comment:"ini komen ketiga", waktu: '03-03-2021', counter:5}
                ],
                function() {
                    return {
                        tombolPlus : false,
                        tombolMinus : false
                    }
                }
            },  
            methods: {
                tambahIsi() {
                    this.listComment.push({ comment:this.addComment, waktu: '06-06-2021', counter:0 })
                },
                tambah: function(index){
                    this.tombolPlus = !this.tombolPlus;
                    this.tombolMinus = false;
                }, 
                kurang: function() {
                    this.tombolMinus = !this.tombolMinus;
                    this.tombolPlus = false;
                }
            },
            computed: {
                listComment() {
                    if(this.tombolPlus){
                        return this.listComment.counter +=1
                    } else if(this.tombolMinus){
                        return this.listComment.counter -=1
                    } else {
                        return this.listComment.counter
                    }
                }
            }
        });

    </script>

</body>
</html>