<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soal 1</title>
</head>

<body>

    <div id="app">
        <form>
            <input type="text" v-model="search" placeholder="Masukkan Kata Kunci"/>
        </form>


        <div v-for="result of resultQuery" :key="result.id">
            {{ result.nama }}
        </div>


    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

        var vm = new Vue({
            el: '#app',
            data: {
                search: '' ,
                books: [
                    {id:1, nama:'Kalkulus Dasar'},
                    {id:2, nama:'Fisika Dasar'},
                    {id:3, nama:'Aljabar Linier Elementer'},
                    {id:4, nama:'Aljabar Abstrak'},
                    {id:5, nama:'Algoritma Pemrograman'}
                ]
            },
            computed: {
                resultQuery() {
                if (this.search) {
                    return this.books.filter(item => {
                    return this.search
                        .toLowerCase()
                        .split(" ")
                        .every(v => item.nama.toLowerCase().includes(v));
                    });
                } else {
                    return this.books;
                }
                }
            }
        })

    </script>

</body>
</html>